body{
display: flex;
flex-wrap: wrap;
height: 100vh;
}
.header, .footer{
    flex-basis: 25%;
height: 20%;
}
.aside{
    flex-basis:50% ;
    height: 60%;
}
.main{
    flex-basis: 50%;
    height: 60%;
}
@media screen and (max-width:500px){
    .main{
        flex-basis: 100px;
        order: 2;
    }
    .aside{
        flex-basis: 50%;
        order: 2;
    }
    .footer{
    order:3;
    }
}